
#container {
   width: calc(5 * var(--grid-unit));
   display: block;
}

.box {
   width: calc(4 * var(--grid-unit));
   margin: auto;
}

.jcarousel-wrapper {
   display: none;
}

.phone-mode {
   position: relative;
   top: 60px;
}

.about-paragraph {
   width: 400px;
   margin-top: 500px;
}

.tablet-desktop-nav {
   display: none;
}

#portrait-lc-container {
   display: none;
}

#invasion-haunted-container {
   display: none;
}

#bc-post-fb-yoga-container {
   display: none;
}

#id-white-px-extra-container {
   display: none;
}
