#caroline-carter {
   font: 700 25px Raleway, sans-serif;
   color: #5bb363;
}

.studio-art {
   background-color: #ffefdf;
}

.design {
   background-color: #ffefdf;
}

#home-background {
   background-image: linear-gradient(#ffefdf, #ffefdf);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   width: 100vw;
   height: 100vh;
}

#home-image {
   position: relative;
   top: 10vh;
   left: 13.5vw;
}

#caroline {
   position: relative;
   top: 0;
}

#home-container {
   display: flex;
   position: relative;
   justify-content: space-between;
   margin: auto;
   bottom: 15vh;
   left: 1vw;
}

.first-nav {
   font-size: 22px;
   color: #5bb363;
   position: relative;
   margin: 20px;
   top: 246px;
}

#portrait-lc-container {
   display: flex;
   justify-content: center;
   top: -40px;
}

#invasion-haunted-container {
   display: flex;
   justify-content: center;
   top: 200px;
}

#portrait-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 330px;
   left: 96px;
   padding: 10px;
   width: 188px;
}

#portrait-box {
   width: 300px;
   right: 50px;
}

#loose-change-box {
   width: 300px;
   top: 80px;
   left: 80px;
}

#loose-change-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 114px;
   left: 17px;
   padding: 10px;
   width: 150px;
}

#invasion-box {
   position: relative;
   width: 300px;
   top: 140px;
   left: 40px;
}

#invasion-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 110px;
   left: 35px;
   padding: 10px;
   width: 88px;
}

#haunted-box {
   position: relative;
   width: 400px;
   height: 400px;
   left: 30px;
}

#haunted-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 237px;
   left: 114px;
   padding: 10px;
   width: 80px;
}

#bc-post-fb-yoga-container {
   display: flex;
   justify-content: center;
   top: -30px;
}

#id-white-px-extra-container {
   display: flex;
   justify-content: center;
   top: 50px;
}

#bc-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 115px;
   left: 25px;
   padding: 10px;
   width: 130px;
}

#bc-box {
   width: 300px;
   left: 250px;
}

#post-box {
   width: 300px;
   top: -38px;
   left: 180px;
}

#post-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 80px;
   left: -32px;
   padding: 10px;
   width: 150px;
}

#fb-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 120px;
   left: 18px;
   padding: 10px;
   width: 138px;
}

#fb-box {
   width: 300px;
   top: 50px;
   right: 20px;
}

#yoga-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 80px;
   left: 12px;
   padding: 10px;
   width: 60px;
}

#yoga-box {
   width: 300px;
   top: 8px;
   left: -58px;
}

#id-box {
   position: relative;
   width: 300px;
   top: 180px;
   left: 340px;
}

#id-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 80px;
   left: -5px;
   padding: 10px;
   width: 88px;
}

#white-box {
   position: relative;
   width: 400px;
   top: 20px;
   left: 180px;
}

#white-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 112px;
   left: 44px;
   padding: 10px;
   width: 80px;
}

#px-box {
   position: relative;
   width: 300px;
   top: 100px;
   left: 40px;
}

#px-nav {
   border-radius: 20px;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 130px;
   left: 45px;
   padding: 10px;
   width: 88px;
}

#extra-box {
   position: relative;
   width: 400px;
   height: 400px;
   left: -70px;
}

#extra-nav {
   border-radius: 20px;
   text-align: center;
   position: relative;
   background: #ffefdfaa;
   z-index: 10;
   top: 95px;
   left: -1px;
   padding: 10px;
   width: 120px;
}

div {
   position: relative;
}

footer > img {
   transition: 500ms;
   opacity: 1;
}

footer:hover > img:last-of-type {
   opacity: 0;
}

img {
   position: absolute;
}

.carousel-heading {
   position: relative;
   top: 50px;
   background: none;
}

.about-paragraph {
   font-family: 'Crimson Text', serif;
   color: #222;
   margin: auto;
   background: #8b008b22;
   letter-spacing: 2px;
   padding: 20px;
   margin-bottom: 10px;
   margin-top: 10px;
   border-radius: 20px;
}

.phone-gallery {
   position: relative;
}


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #5b4dB3; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #5b4dB355;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #5b4dB355;
  padding: 20px;
}
