.nav-container {
   margin: 0;
   position: relative;
   right: 20px;
}

.nav-list {
   width: 100vw;
   text-align: center;
   list-style-type: none;
}

.nav-container > .nav-list {
   display: flex;
   justify-content: center;
   width: 100vw;
   padding: 20px;
   position: relative;
}

.nav-container > .nav-list > li {
   position: relative;
   flex-grow: 1;
}

.phone-nav {
   display: none;
}

#container {
   width: calc(9 * var(--grid-unit));
}

.phone-mode {
   display: none;
}

.about-paragraph {
   width: 700px;
}
